.App {
  text-align: center;
}
.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}  

.button {
  font-family: 'Times New Roman', Times, serif;
  width: 20vw;
  height: 6vw;
  font-size: 3vw;
  background-color: #ff6a00;
  border: none;
  color: white;
  margin: 2vmin;
}

.results {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 20vh;
  margin-bottom: 20vh;
  height:60vh;  
}
